<div class='card'>
    <div class='card-header'>
      {{pageTitle}}
    </div>
    <div class='card-body'>
      <div class='table-responsive'>
        <table class='table'
               *ngIf='users && users.length'>
          <thead>
            <tr>
              <th>
                <button class='btn btn-primary'
                        (click)='openDialog()'>
                        Add user
                </button>
              </th>
              <th>User Name</th>
              <th>Id</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let user of users'>
              <td>

              </td>
              <td>
                <a > <!-- [routerLink]="['/users', users.Id]"-->
                  {{ user.userName}}
                </a>
              </td>
              <td>{{ user.id}}</td>
              <td>{{ user.firstName }}</td>
              <td>{{ user.lastName }}</td>
              <th>
                <button class='btn btn-primary'
                (click)='editUser(user, user.id)'>Edit</button>
                <button class='btn btn-primary'
                (click)='deleteUser(user.id)'>Delete</button>
              </th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>