<div class="card">
    <div class="card-header">
      {{title}}
    </div>
    <div class="card-body">
      <div class="container-fluid">
        <div class="text-center">
          <img src="./assets/welcome.jpg"
               class="img-responsive center-block"
               style="max-height:300px;padding-bottom:50px" />
        </div>
  
        <div class="text-center">Developed by:</div>
        <div class="text-center">
            <h3>Paul-Antonio IFRIM</h3>
            <h4>grupa 1149 ID</h4>
        </div>
  
        <div class="text-center">@paulAntonio1990</div>
        <div class="text-center">
          <a href="https://github.com/paulAntonio1990/leasons_learned_by_coding"><i class="fab fa-github"></i>git project</a>
        </div>
      </div>
    </div>
  </div>